<div class="container">
  <h2>Start New Chat</h2>
  </br>

  <table class="table">
    <thead>
      <tr>
        <th>Recipient</th>
        <th>Recipient Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'form' %>
    </tbody>
  </table>
</div>
